/* Stylesheet */

body {
    overflow: hidden;
    position: relative;
    background-color: azure;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}

button {
    padding: 10px;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    background: rgb(21, 19, 19, 0.0);
    border: solid 2.5px rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin: 10px;
}

input[type=color] {
    border: none;
    border-radius: 7px;
    padding: 0;
    width: 100px;
    height: 20px;
    border-radius: 100%;
    margin: 10px;

}

input[type=number] {
    width: 50px;
    margin: 10px;
    font-size: 20px;
}

#options {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px;
    height: 45px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 1000px;
    width: 1000px;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: azure;
    box-shadow: rgb(0, 0, 0, 0.3);
    border-radius: 15px;
    border: solid 3px rgb(0, 0, 0, 0.3);
}

#frame {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: azure;
    box-shadow: inset rgb(0, 0, 0, 0.3) 0px 0px 5px 5px;
    border-radius: 15px;
    border: solid 3px rgb(0, 0, 0, 0.3);

}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    font-size: 120px;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: relative;
    font-size: 20px;
    margin-bottom: 0;
}

#aGrid {
    height: 800px;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: azure;
    padding: none;
}

.cell {
    box-sizing: border-box;
    border: solid #00000010 .01em;
    flex: 0 0 auto;
    background-color: #ffffff00;
}


p {
    padding: 5px;
    display: flex;
    justify-content: center;
    bottom: 0;
    margin: 10px;
    color: rgb(0, 0, 0);
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    /* no underline */
}

.signature {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}