/* Stylesheet */

body {
    height: 100%;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 500px;
    width: 500px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#aGrid {
    height: 400px;
    width: 400px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aquamarine;
    padding: 10px;
}

.cell {
    box-sizing: border-box;
    border: solid black .1em;
    flex: 0 0 auto;
    background-color: #04536570;
}

.drawn {
    background-color: blueviolet;
}